.Post {
    width: 100%;
    padding: 16px 0;
    text-align: center;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    margin: 10px 0;
    box-sizing: border-box;
}
.Post:hover,
.Post:active {
    background-color: #eee;
}